.fixed-to-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.bold-word {
    font-weight: bold;
}

.multiline {
    white-space: pre-line;
}

.scrollable {
    height: 1500px;
    overflow-y: scroll;
}

.white-text {
    color: white;
}

.red-text {
    color: red;
}

.large-font {
    font-size: larger;
}

.no-margin-top {
    margin-top: 0px;
}